$color-blue: #2100C0;
$color-purple: #9258ff;
$color-orange: #F47214;
$color-yellow: #F4B80F;

$color-light-grey: #A4A4A4;
$color-grey: #1D212C;;
$color-dark-grey: #191a20;

$color-white: #fff;

$color-font-grey: #99999D;

$color-gradient: linear-gradient(-90deg, #2100C0 2%, #5900FF 98%);

$bg: $color-dark-grey;
$color-border: #2a2c31;

$color-gradient-camera:linear-gradient(-90deg, #3F4554 2%, #2A2F3B 98%);
